*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    /* outline: 4px solid gold; */
}
body{ 
    font-family: 'Jura', sans-serif;
    color:#f4e9d9;
    background-color: #0e0e0e;
    font-weight: 500; 
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
ul, ol, li{
    list-style: none;
}
li{
    font-size: clamp(10px, 3vw, 20px);
}
p{
    font-size: clamp(10px, 3vw, 20px);
}
u{
    color: #ba4e2c;
    cursor: pointer;
}
section{
    margin: 100px 0  0;
} 

/*--------шапка сайта-------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    position: fixed;
    z-index: 5;
    width: 100%;
}
header.shadow{
    background: var(--text-color);
    background-color: #0e0e0e;
    box-shadow: 0px 0px 40px -11px #0e0e0e;
    transition: 0.7s ease;    
}
nav{ 
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;    
    /* margin: 0 auto;   */
}
.logo{
    width: 55px;
    height: 48px;
}
.menu{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}
.menu_lin a::before{
    content: "";
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 2px;
    bottom: 0;
    /* left: 0; */
    background-color: #ba4e2c;
    transform: scaleX(0);
    transition: 0.3s ease;
} 
.menu_lin a:hover::before,
.menu_lin a:active::before{
    transform: scaleX(1);
}
.menu_btn {
    display: none;    
    width: 30px;
    height: 35px;
    cursor: pointer;
    margin: 0 10%;
}
.menu_btn span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #f4e9d9;
    -webkit-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*----------------- контент ----------------*/
/* main{
    padding: 1px 0 0 0;
} */
.parallax {
    min-height: 100vh;
}
.parallax_body {
    position: fixed;
    width: 100%;
    height: 100%;
}
.conteiner {
    max-width: 90%;
    margin: 0px auto;
}
.parallax_text_conteiner {
    position: relative;
    top: 30%;
    user-select: none;
}
.parallax_text_conteiner h1 {
    font-size: clamp(29px, 8vw, 75px);
    text-transform: uppercase;
}
.parallax_text_conteiner p {
    margin: 30px 0 20px 0;
    font-size: clamp(6px, 8vw, 21px);
}

                    /*---------- параллакс */
.parallax_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: -10px;
    z-index: -1;  
}
.parallax_img_planet2,
.parallax_img_planet1,
.parallax_img_sky{
    position: absolute;
    top: 0;
    left: 0;
    background: top / cover no-repeat; 
}
.parallax_img_planet1 {
    bottom: 0;
    right: 0;  
    margin: auto 60%;
    width: 600px;
    height: 600px;  
} 
.parallax_img_planet2{
    width: 150px;
    margin: 55vh 0 0 15vw ;
}
                        /* паралакс-------- */
.content {
    position: relative;    
    background-color: #0e0e0e;
}
.content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, #0e0e0e04 60%,#0e0e0eb6 85%,#0e0e0e 100% );
    overflow: hidden;   
}
.content_conteiner{
    width: 100%;
    overflow: hidden;
}
.conteiner_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.info h2{
    font-size:clamp(18px, 8vw, 45px) ;
}
.info p{
    margin: 15px 0 0;
}
                /* ---------всплывающая подсказка при наведении */
[data-tooltip] {
    position: relative;
    font-family: sans-serif;
}
[data-tooltip]::after {
    position: absolute;
    content: attr(data-tooltip);
    width: 200px;
    left: 0; 
    top: 0;    
    font-size: 16px;
    background: #79280E;
    border-radius: 30px;
    padding: 1em;
    color: #f4e9d9;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    z-index: 1;
} 
[data-tooltip]::before {
    content: "";
    top: 0;
    left: 0;
    z-index: 99;
    position: absolute;
    opacity: 0;
    transition: 1s; 
    border: 20px solid transparent;
    border-right: 15px solid #79280E;
    transform: rotate(90deg);
    z-index: 1;
}
[data-tooltip]:hover::after,
[data-tooltip]:active::after{
    opacity: 1;
    top: 2.5em; 
}
[data-tooltip]:hover::before,
[data-tooltip]:active::before {
    opacity: 1; 
    top: 20%;
    left: 30%;
} 
                /*всплывающая подсказка при наведении -------------*/

.photo img{
    display: flex;
    position: relative ;
    outline: solid 1px #f4e9d9;
    outline-offset: 1em;
}
.photo img:nth-child(1){
    top: 2vh;
    left: 2vw;
    z-index: 2;
}
.photo img:nth-child(2){
    top: -5vh;
    left: 16vw;
    z-index: 1;    
}
.photo img:nth-child(3){
    top: -8vh;
    left: 3vw;
}
.block {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}
.title_wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.title_wrapper img {
    width: 100%;
}
.title_wrapper p {
    position: fixed; 
    width: 100%;
    top: 50%;
    color: white;
    font-size: clamp(18px, 7vw, 70px);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.info_block {
    min-height: 100vh;
    padding: 2em;
    margin: auto;
    max-width: 800px;
}
.row_conteiner {
    display: flex;
    flex-direction: column;
    margin: 0 20px;    
}
.text_conteiner h2{
    font-family:  sans-serif;  
    text-transform: uppercase;
    font-size: clamp(19px, 8vw, 25px);
    text-align: center;       
}
.line {
    height: 1px;
    background-color: #ba4e2c;
    margin: 5px auto 10px;
    margin: auto;
    max-width: 800px;
}
.text_conteiner p {
    margin: 15px 0 0;
}
.text_conteiner ul{
    margin: 15px 0 0;
}
.text_conteiner li{
    list-style: circle;
    margin: 10px 0 0 20px;
}

                /* --------------кнопка  */
.container_cross {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 25vh;
}
.cross {
    border: 1px solid #ba4e2c;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-transform: uppercase; 
    font-size: clamp(10px, 3vw, 20px);
}
.cross:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #ba4e2c63, transparent);
    transition: all 650ms;
}
.cross:hover:before {
    left: 100%;
} 
                /* кнопка -------------- */
/*--------- подвал ----------*/
.foot { 
    position: relative;
    background-color: #070707;
    padding: 20px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan {
    margin: 10px 0 20px 0;
    font-size: clamp(17px, 15vw, 21px);
}
.logo_footer img {
    width: 70px;
    height: auto;
}
.contact-info {
    margin: 10px 0;
}
.foot.active,
.content.active {
    display: none;
} 




/* .container_solid {
  background: white;
  top: 0;
} 
.container_solid .title_wrapper h1 {
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
} */


/* адаптив */

 @media  (max-width: 1180px ) {
    .parallax_img_planet1 {
        width:550px;
        height: 550px; 
    }
    .photo img:nth-child(1){
        width: 250px;
    }
    .photo img:nth-child(2){
        width: 300px;   
    }
    .photo img:nth-child(3){
        width: 200px;
    }
    .block {
        height: 85vh;
    }
    .title_wrapper {
        transform: translateY(-38%);
    }
/* .slider{ 
        margin: 0 auto;
    } 
    .wrap{
        display: flex;
        align-content: center;
        flex-wrap: wrap;        
    }
    .content_conteiner{
        flex-direction:column;
    }
    .content_conteiner_left{
        flex-direction: column-reverse;
    }
    .container_cross,
    .container_cross_left{
        margin: auto;
        height: 15vh;
    } 
*/
}
@media (max-width: 980px ) {
    .conteiner_information {
        grid-template-columns:none;
        gap: 20px;
    }
    .photo img:nth-child(2){
        top: -3vh;
        left: 22vw;   
    }
    .photo img:nth-child(3){
        top: -38vh;
        left: 50vw;
    }
    .block {
        height: 80vh;
    }
    .title_wrapper {
        transform: translateY(-30%);
    } 
}
@media (max-width: 850px ) {
    .parallax_img_planet1 { 
        width: 500px;
        height: 500px; 
        }
    /* .conteiner_information {
        grid-template-columns:none;
        gap: 20px;
    }
    .parallax_img_planet1 {
        width:500px;
        height: 500px; 
    }
    .block {
        height: 80vh;
    }
    .title_wrapper {
        transform: translateY(-35%);
    } */
}
@media  (max-width: 700px ) {
    .photo img:nth-child(1){
        width: 200px;
    }
    .photo img:nth-child(2){
        width: 250px;  
        top: -3vh;
        left: 25vw;  
    }
    .photo img:nth-child(3){
        width: 150px;
        top: -30vh;
        left: 54vw;
    }
    /* .block {
        height: 60vh;
    }
    .title_wrapper {
        transform: translateY(-28%);
    } */
}

@media (max-width: 500px ) {
    .photo img{
        outline-offset: .5em;
    }
    .photo img:nth-child(1){
        width: 150px;
    }
    .photo img:nth-child(2){
        width: 200px;  
        top: -3vh;
        left: 24vw;  
    }
    .photo img:nth-child(3){
        width: 100px;
        top: -24vh;
        left: 58vw;
    }
    /* .logo{
        width: 45px;
        height: 38px;
    }
    .photo img:nth-child(1){
        width: 204px;
    }
    .photo img:nth-child(2){
        width: 265px;  
    }
    .photo img:nth-child(3){
        width: 174px;
    } 
    .block {
        height: 50vh;
    }
    .title_wrapper {
        transform: translateY(-23%);
    } */
}

 @media (max-width: 425px ) {
    .logo{
        margin: 0 auto;
        width: 45px;
        height: 38px;
    }
    .menu_btn {
        display: block;    
    }
    .menu_btn.active span:nth-child(1) {
        opacity: 0;
    }
    .menu_btn.active span:nth-child(2) {
        transform: translateY(4px) rotate(45deg);  
    }
    .menu_btn.active span:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);  
    }
    .menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0e0e0e;
        width: 100%;
        text-align: center;
        transition: 1s;
    }
    .menu.active{
        left: 0;
    }    
    .menu_lin{
        margin: 16px 0;
    }
    .parallax_img_planet1 { 
        width: 400px;
        height: 400px; 
    }
    .parallax_img_planet2{
        width: 100px;
        margin: 70vh 0 0 15vw ;
    }
    .photo img:nth-child(1){
        width: 100px;
    }
    .photo img:nth-child(2){
        width: 150px;  
    }
    .photo img:nth-child(3){
        width: 80px;
        top: -2vh;
        left: 8vw;
    }
   /* 
    .block {
        height: 40vh;
    }
    .title_wrapper {
        transform: translateY(-18%);
    } */
}
@media (max-width: 320px ) {
    .parallax_img_planet1 { 
        margin: 60vh  auto 0;
        width: 300px;
        height: 300px; 
    }
    .parallax_img_planet2{
        width: 80px;
        margin: 20vh 0 0 55vw ;
    }
} 