*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    user-select: none;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
ul, ol, li{
    list-style: none;
}
li{
    font-size: clamp(10px, 3vw, 20px);
}
body{ 
    font-family: 'Jura', sans-serif;
    color:#f4e9d9;
    background-color: #0e0e0e;
    font-weight: 500; 
}
p{
    font-size: clamp(10px, 3vw, 20px);
}
section{margin: 100px 0  0;} 

/*--------шапка сайта-------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    position: fixed;
    z-index: 30;
    width: 100%;
}
header.shadow{
    background: var(--text-color);
    background-color: #0e0e0e;
    box-shadow: 0px 0px 40px -11px #0e0e0e;
    transition: 0.7s ease;    
}
.logo{
    width: 55px;
    height: 48px;
}
nav{ 
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;    
    margin: 0 auto;  
}
.menu{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}
.menu_lin a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ba4e2c;
    transform: scaleX(0);
    transition: 0.3s ease;
} 
.menu_lin a:hover::before,
.menu_lin a:active::before{
    transform: scaleX(1);
}
.menu_btn {
    display: none;    
    width: 30px;
    height: 35px;
    cursor: pointer;
    margin: 0 10%;
}
.menu_btn span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #f4e9d9;
    -webkit-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*----------------- контент ----------------*/
main{
    padding: 80px 0 0 0;
}
.content{
    text-align: center;
}

.question {
    margin-bottom: 20px;
}
#questionContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#questionContainer p{
    margin: 20px 0;
}
label{
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

                /* ---------кнопка */
button{
    margin: 10vh 0 0 0;
    border: 1px solid #ba4e2c;
    color: #f4e9d9;
    background-color: #0e0e0e;
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-transform: uppercase;  
    cursor: pointer;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #ba4e2c63, transparent);
    transition: all 650ms;    
}
button:hover:before {
    left: 100%;
}
.conteiner {
    max-width: 90%;
    margin: 0px auto;
}
.description h2{
    margin: 25px 0 0 ;
    color: #ba4e2c;
}
.description p {
    margin: 15px 0 0;
}
.description ul{
    margin: 15px 0 0;
}
.description li{
    list-style: circle;
    margin: 10px 0 0 20px;
}
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f4e9d9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #0e0e0e;
}

.close {
    cursor: pointer;
    color: red;
    font-size: 24px;

}
/*--------- подвал ----------*/
footer { 
    position: absolute;
    background-color: #070707;
    padding: 20px 0;
    width: 100%;
    height: 100px;
    bottom: 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.logo_footer img {
    width: 55px;
    height: 48px;
}
.slogan p {
    margin: 10px 0 20px 0;
    font-size: clamp(12px, 15vw, 15px);
}

.contact-info p {
    margin: 10px 0;
}

/* адаптив */
@media (max-width: 500px ) {
    .footer-content {
        flex-direction: column;
        gap: 0;
    }
    .logo_footer img {
        width: 45px;
        height: 38px;
    }
    .slogan p {
        margin: 10px 10px 20px;
        font-size: clamp(12px, 15vw, 15px);
    }
}
@media (max-width: 400px ) {
    .logo{
        margin: 0 auto;
    }
    .menu_btn {
        display: block;    
    }
    .menu_btn.active span:nth-child(1) {
        opacity: 0;
    }
    .menu_btn.active span:nth-child(2) {
        transform: translateY(4px) rotate(45deg);  
    }
    .menu_btn.active span:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);  
    }
    .menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0e0e0e;
        width: 100%;
        text-align: center;
        transition: 1s;
    }
    .menu.active{
        left: 0;
    }    
    .menu_lin{
        margin: 16px 0;
    }
}
